::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: whitesmoke;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color:#2B3440;
    border-radius: 3px;
}


